*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: calc(0.5em + 1vw);
    font-family: 'Gemunu Libre', sans-serif;
}
.cover {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.fullbody {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(37, 37, 37);
}
.top-banner {
    text-align: center;
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 40vh;
    left: 0;
}
.container {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 80%;
    background-color: rgba(10, 10, 10, 0.6);
}
.container>p {
    color: whitesmoke;
    font-size: 1em;
    margin-top: 20px;
}
.container>form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#inpt {
    border-radius: 6px;
    height: 3em; 
    width: 30%;
    min-width: 120px;
    text-align: center;
}
#btn {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 6px;
    height: 3em; 
    width: 10%;
    min-width: 5em;
    cursor: pointer;
}
.ajax-section {
    position: relative;
    background-color: rgb(37, 37, 37);
}
.container2 {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 90%;
    /* background-color: rgba(10, 10, 10, 0.6); */
}
.films>li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 10px solid red;
    padding: 20px;
    margin-bottom: 10px;
}
.films>li>h1 {
    color: whitesmoke;
    display: inline-block;
    width: 80%;
    text-align: left;
}
.films>li>h1>a {
    color: whitesmoke;
}
.films>li>span {
    color: black;
    display: inline-block;
    width: 3em;
    height: 3em;
    background-color: orange;
    clip-path: circle(1.5em at center);
    padding: 1em 0;
    font-size: 15px;
}
.aboutFilm {
    display: inline-block;
    width: 100%;
    color: whitesmoke;
    margin-top: 20px;
    text-align: left;
}
.critic {
    display: inline-block;
    color: tomato;
    margin-top: 20px;
    padding: 10px;
}
.criticTitle {
    display: inline-block;
    border: 2px solid whitesmoke;
    color: turquoise;
    margin-top: 20px;
    padding: 10px;
    /* margin-left: auto; */
    margin-right: auto;
    text-decoration: none;
}
#goBack {
    position: sticky;
    position: -webkit-sticky;
    display: inline-block;
    top: 0;
    width: 5%;
    margin-top: 20px;
    background-color: whitesmoke;
    border: 2px solid tomato;
    cursor: pointer;
}
#btnGoBack {
    display: inline-block;
    text-decoration: none;
    color: turquoise;
    font-weight: 900;
}

